---
http_interactions:
- request:
    method: get
    uri: https://api.jobvite.com/api/v2/candidate?api=example_api_key&count=5&format=json&sc=example_api_token&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"candidates":[
        {"address":"","address2":"","application":{"comments":null,"customField":[],"disposition":"Mandatory
        Please Select One","eId":"pHdp0fw3","gender":"Undefined","hireDate":null,"job":{"company":null,"customField":null,"department":null,"eId":null,"hiringManagers":null,"jobType":null,"location":null,"recruiters":null,"requisitionId":null,"subsidiaryId":null,"title":null},"lastUpdatedDate":1264463700003,"race":"Decline
        to Self Identify","resume":{"content":"","format":"Text"},"sentDate":1264463700003,"source":"John
        Doe","sourceType":"Hiring Manager","startDate":null,"status":null,"veteranStatus":"Undefined","workflowState":"Rejected"},"city":"","companyName":null,"country":"USA","eId":"enXcZfwf","email":"","firstName":"John","homePhone":"","lastName":"Doe","location":",  United
        States","postalCode":"","state":"","title":null,"workPhone":"","workStatus":"None"},
        {"address":"","address2":"","application":{"comments":null,"customField":[],"disposition":"Mandatory
        Please Select One","eId":"pHdp0fw3","gender":"Undefined","hireDate":null,"job":{"company":null,"customField":null,"department":null,"eId":null,"hiringManagers":null,"jobType":null,"location":null,"recruiters":null,"requisitionId":null,"subsidiaryId":null,"title":null},"lastUpdatedDate":1264463700003,"race":"Decline
        to Self Identify","resume":{"content":"","format"[...]
